
.centralizar-texto {
  text-align: center;
}

.col-data
{
  width: 120px;
  text-align: center;
}

.col-valor
{
  width: 120px;
  text-align: right;
}


.col-acoes
{
  width: 140px;
  text-align: center;
}

.col-header
{
  width: 140px;
  text-align: center;
}


.botoes-acoes
{
  margin: 0px;
}
